* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --RubikFonts: "Rubik", sans-serif;
  --MenuColor: #4a4a4a;
  --BackgroundColor: #3cdbc0;
  --TitleTextColor: #ffffff;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  min-height: 100vh;
}
.header {
  width: 100vw;
  /* height: 30vh; */
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 13px;
  gap: 10px;
  border: 2px red solid;
}
.header-logo {
  width: 155px;
}
.header-logo__link__img {
  width: 100%;
  height: 100%;
}
.header-nav {
  font-size: 1.6rem;
  font-family: var(--RubikFonts);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.header-nav__link {
  text-decoration: none;
  color: var(--MenuColor);
  font-weight: 500;
}
.main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--BackgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vh;
  border: 2px red solid;
}
.main-title {
  width: 30%;
  font-size: 3rem;
  font-family: var(--RubikFonts);
  color: var(--TitleTextColor);
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  border: 2px solid red;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-title {
    font-size: 4rem;
  }
}
